body{
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
    font-family: Inter, sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    width: 100%;
}
.content p{
    width: 100%;
    height: 40px;
    margin-top: 200px;


}

.content-wrapper p{
    width: 100%;
    height: auto;
    

}

textarea{
    color: white;


}

.right {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 83%;



}

menu{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #8b8b8b;
    width: 300px;
    padding: 20px;
    height: 97.5%;
    margin-top: 0;
    
}

menu span{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    width: 200px;
    transition: background-color 0.3s ease;
    padding: 10px;
}

menu span:hover {
    background-color: #aaa;

}

menu .top{
    display:inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 100px;

}

menu .top img, menu .top svg{
    width: 30px;


}

menu .top a{
    font-size: 14px;
    text-decoration: none;
    color: #000000;
    position: relative;
    left: 10px;
}

menu .top #logo_menu{
    width: 15px;
    height: 15px;
}

menu svg, menu span img{
    width: 20px;

}

menu span a{
    text-decoration:none;
    color:black;

}

menu footer{
    width: 100%;
    display: flex;
    justify-content: space-between;

}

menu footer a img{
    width: 20px;
}

.content {
    bottom: 20px;
    background: rgba(0, 0, 0, 0.7);
    padding: 50px;
    width: 90%;
    height: 55%;
    margin-left: 50px;


}

.content form{
    position: relative;
    bottom: 30px;

}

.content form label{
    width: 200px;
    margin-bottom: 20px;

}

.content h1{
    color: #ffffff;
    font-weight: 800;
    font-size: 28px;  
}

.content h4{
    color:#fff;
    font-weight: 600;

}

.content form input, .content form button{
    width:200px;
    font-size: 14px;

    font-weight: 500;
    background: black;
    color: #ffffff;
    width: 200px;
    height: 31px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    padding: 0px 10px;
    position: relative;
    

}

content form * input{
    height: 41px;


}

.content form button{
    width: 150px;
    align-self: center;
    height: 100px;


}

.query-confs, .model-confs, .model-name, .references{
    display: flex;
    flex-direction: column;
    height: 600px;
    padding: 30px;
    padding-top: 0;


}

.model-confs, .query-confs{
    border-right: 1px solid white

}

.model-name textarea {
    background-color: black;
    border-radius: 10px;
    border: 1px solid white;


}

.model-name, .references{
    height: 120px;
}

.references{
    bottom: 100px;
}

.model-name{
    top: 22px;
    gap: 10px;
    height: 50%;

}