body {
    margin: 0;
    height:100%;
    font-family: 'Courier New', Courier, monospace;
}

.content{
    width: 100%;
    height: 100%;
    box-sizing:border-box;
    padding:20px;
    display:flex;

    align-items:center;
    justify-content:center;
    flex-direction:row;
    gap:8px;

}

.flash{
    background-color: #fde68a;
    color: #92400e;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 300px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 300px;    

}
