.content{
    justify-content: space-between;


}

.content .search-bar {
    display: inline-flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 41px;
}

.content .search-bar button {
    width: 100px;
    height: 21px;
    margin-top: 0;
    bottom: 48px;
    margin-left: 90%;


}

.content .researches{
    overflow-y: auto;
    height: 100%;


}

.content .researches .rs{
    max-height: 200px;
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;

    padding: 20px;

}

.content .researches  .rs p{
    margin-top:  0;

}

.content .researches .rs a{
    border-radius: 20px;
    width: 40px;
    height: 20px;
    background-color: white;
    color:black;
    transition: all 0.5s;
    text-decoration: none;
    font-weight: bold;

    padding: 10px;

}

.content .researches .rs a:hover{
    width: 60px;
    height: 40px;

}

