{% extends 'base.html' %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="{{url_for('static', filename='css/response.css')}}">
{% endblock %}

{% block content %}
{% if not showing %}
   <leftside class="response-content left" id="responseContent">
   </leftside>

   <rightside class="article-content right" id="articleContent">
   </rightside>
{% else %}
   <leftside class="response-content left" id="responseContent">
      {{ markdown_left|safe }}
   </leftside>

   <rightside class="article-content right" id="articleContent">
      {{ markdown_right|safe }}
   </rightside>
{% endif %}
{% endblock %}
