{% extends 'base.html' %}

{% block link %}
<meta name="turbo-visit-control" , content="reload">
<link rel="stylesheet" href="{{url_for('static', filename='css/header-in.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block content %}
<div class="content">
    {% if not login and not ch_user %}
    <p>Cadastro &#128293;</p>
    <form action="/register" method="post">
        <label for="username">Nome de Usuário</label>
        <input type="text" id="username" name="username">

        <label for="email">Email</label>
        <input type="text" id="email" name="email">

        <label for="phone">Telefone</label>
        <input type="tel" id="phone" name="phone">

        <div class="pass">
            <label for="password">Senha</label>
            <input type="password" id="password" name="password">

            <label for="confirm_password">Confirme a senha</label>
            <input type="password" id="confirm_password" name="confirm_password">
            <input type="submit" value="Register">
        </div>



    </form>
    {% elif login and not ch_user %}
    <p>Bem-Vindo de Volta 😄</p>
    <form action="/login" method="post">
        <label for="username_or_email">Usuario/Email</label>
        <input type="text" id="username_or_email" name="username_or_email">

        <label for="password"> Password </label>
        <input type="password" id="password" name="password">
        <div class="btns">
            <a href="/register"> Cadastro </a>
            <button type="submit">Login</button>
        </div>

    </form>
    {% else %}
    <p>Mudar usuário</p>
    <form action="/update" method="post">
        <label for="old_username">Nome antigo</label>
        <input type="text" id="old_username" name="old_username">

        <label for="new_username">Novo nome de usuário</label>
        <input type="text" id="new_username" name="new_username">
        <div class="btns">
            <button type="submit" style="width:100px;">Mudar nome</button>
        </div>

    </form>

    {% endif %}
    {% for message in get_flashed_messages(with_categories=true) %}
    <div class="flash {{ message[0] }}">{{ message[1] }}</div>
    {% endfor %}
</div>
{% endblock %}